.nav-bar{
    background: #181818;
    width: 100vw;
    height: 10vw;
    max-height: 100px;
    position: absolute;

    top: 0;
    z-index: 3;

}

nav {
    display: flex;
    justify-content: space-evenly; /* Distribute space between the buttons */
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  a {
    font-size: 2.25vw;

    font-family:'Coolvetica';
    color: #4d4d4e;
    text-decoration: none;
    padding: 10px 20px;
    transition: all 0.3s ease-out;
    text-align: center;
    margin: 0 15px;
  
    &:hover {
      color: #ffffff;
      background-color: #5e8cf2;
      border-radius: 5px;
    }
  
    &.active {
      color: #ffd700;
    }
  }
