.home-page{
    position: relative;
    height: 100vh;
    overflow: auto;
    .graduation-image{
        overflow: hidden;
        position: absolute;
    
        width: 20vw;
        max-width: 250px; /* Change this to your desired width */
        height: auto;
        margin-left: 20px;
        margin-right: 20px;

        top: 35vh;
        right: 5%;

        opacity: 0;
        animation: fadeIn 2s forwards;

        img {
            width: 100%;  /* Ensures the image fills the container's width */
            height: auto; /* Ensures the image fills the container's height */
            object-fit: cover; /* Optional: Maintains the image's aspect ratio while filling the container */
            border-radius: 50%;
        }
    }
    

    @keyframes fadeIn{
        from{
            opacity: 0;
            scale: 0.3;
        }
        to{
            opacity: 1;
            scale: 1;
        }
    }

    .greetingText{
        position: absolute;
        left: 10vw;
        top: 35vh;
        transform: translateY(-50%);
        width: 40vw;
        max-height: 90%;
        opacity: 0;
        animation: fadeIn 3s forwards;
        animation-timeline: view();
        animation-range: entry 0;
    }
    h1{
        color: #000;
        font-size: 4vw;
        margin: 0;
        font-family:'Coolvetica';
        font-weight: 400;
    
        img{
            width: 32px;

        }
    }
    h2{
        color: #000;
        font-size: 2.5vw;
        margin: 0;
        font-family:'Coolvetica';
        font-weight: 400;
    
        img{
            width: 32px;

        }
    }
    

    .bodyText{
        overflow: auto;
        position: absolute;
        display: flex;
        left: 10%;
        top: 40vh;
        transform: translateY(10%);
        vertical-align: middle;
        opacity: 0;
        animation: fadeIn 3s forwards;
        animation-timeline: view();
        animation-range: entry 0;
    }

    .IntroductionText{
        position: absolute;
        left: 35vw;
        top: 102vh;
        transform: translateY(-50%);
        width: 40vw;
        max-height: 90%;
        opacity: 0;
        animation: fadeIn 3s forwards;
        animation-timeline: view();
        animation-range: entry 0;
    }

    .PagesText{
        position: absolute;
        left: 10vw;
        top: 190vh;
        transform: translateY(-50%);
        width: 40vw;
        max-height: 90%;
        opacity: 0;
        animation: fadeIn 3s forwards;
        animation-timeline: view();
        animation-range: entry 0;
    }
    p{
        color: #000;
        font-size: 2vw; /* Font size scales with the width of the viewport */
        font-family:'Coolvetica';
        width: 50vw;
        font-weight: 150;
    }
    .frontEndBox{
        display: flex;
        position: absolute;
        left: 7.5vw;
        width: 37.5vw;
        top: 110vh;
        height: 12.5vh;

        background-color: #FF9A98;
        padding: 20px;

        border-radius: 5px;
        min-height: 200px;
        animation: fadeIn 3s forwards;
        animation-timeline: view();
        animation-range: entry 0;

        .FrontendTitle{
            position: absolute;
            top: 3.5vh;
            width: 40vw;
            max-height: 90%;
            opacity: 0;
            animation: fadeIn 3s forwards;
            animation-timeline: view();
            animation-range: entry 0;
        }
        .FrontendBody{
            position: absolute;
            top: 7.5vh;
            width: 40vw;
            max-height: 90%;
            opacity: 0;
            animation: fadeIn 3s forwards;
            animation-timeline: view();
            animation-range: entry 0;
        }
        p{
            color: #000;
            font-size: 1.5vw; /* Font size scales with the width of the viewport */
            font-family:'Coolvetica';
            width: 50vw;
            font-weight: 150;
        }
        
    }

    .backendBox{
        display: flex;
        position: absolute;
        animation: fadeIn 3s forwards;
        animation-timeline: view();
        animation-range: entry 0;

        left: 55vw;
        width: 37.5vw;
        top: 120vh;
        height: 22.5vh;

        min-height: 300px;

        background-color: #83f28f;
        padding: 20px;
        border-radius: 5px;

        .BackendTitle{
            position: absolute;
            width: 40vw;
            top: 3.5vh;
            opacity: 0;
            animation: fadeIn 3s forwards;
            animation-timeline: view();
            animation-range: entry 0;
        }
        .BackendBody{
            position: absolute;
            top: 7.5vh;
            width: 40vw;
            opacity: 0;
            animation: fadeIn 3s forwards;
            animation-timeline: view();
            animation-range: entry 0;
        }

    }
    .hardwareBox{
        display: flex;
        position: absolute;
        animation: fadeIn 3s forwards;
        left: 7.5vw;
        width: 37.5vw;
        top: 150vh;
        height: 10vh;

        min-height: 125px;

        background-color: #6BADCE;
        padding: 20px;
        border-radius: 5px;

        .HardwareTitle{
            position: absolute;
            width: 40vw;
            max-height: 90%;
            opacity: 0;
            animation: fadeIn 3s forwards;
            animation-timeline: view();
            animation-range: entry 0;
        }
        .HardwareBody{
            position: absolute;
            top: 7.5vh;
            width: 40vw;
            max-height: 90%;
            opacity: 0;
            animation: fadeIn 3s forwards;
            animation-timeline: view();
            animation-range: entry 0;
        }
    

    }
    .links-section {
        display: flex;
        justify-content: space-around; /* Ensures the boxes are spaced evenly */
        position: absolute;
        left: 10%;
        top: 200vh; /* Adjust this based on your layout */
        width: 80%;
        height: 20vw;
        animation: fadeIn 3s forwards;
        animation-timeline: view();
        animation-range: entry 0;

        .link-box {
            background-color: #c6c8cc;
            padding: 20px;

            border-radius: 5px;
            width: 40%;
            margin-bottom: 5vh; /* Adds space below the boxes */

            text-align: center;

            display: flex;
            align-items: center;
            transition: background-color 0.3s ease;

            a {
                display: block;
                width: 100%;
                height: 100%;
                text-decoration: none;
                color: #000;
                font-size: 3vw;
                font-family: 'Coolvetica';
                font-weight: 400;
            }

            

        }
    }
}

