.education-page{
    position: relative;
    height: 100vh;
    overflow: auto;

    h1{
        color: #000;
        font-size: 3.6vw;
        font-family:'Coolvetica';
        font-weight: 400;
        text-align: center;
        margin-top: 0;
        margin-bottom: 40px;
    }

    
    p{
        color: #000;
        font-size: 1.5vw; /* Font size scales with the width of the viewport */
        font-family:'Coolvetica';
        width: 45vw;
        font-weight: 150;

    }
    .graduation-image{
        overflow: hidden;
        position: absolute;
    
        width: 12.5vw;
        max-width: 250px; /* Change this to your desired width */
        height: auto;
        margin-left: 20px;
        margin-right: 20px;

        top: 20%;
        right: 5%;

        opacity: 0;
        animation: fadeIn 1s forwards;

        img {
            width: 100%;  /* Ensures the image fills the container's width */
            height: auto; /* Ensures the image fills the container's height */
            object-fit: cover; /* Optional: Maintains the image's aspect ratio while filling the container */
            border-radius: 50%;
        }
    }

    @keyframes fadeIn{
        to{
            opacity: 1;
        }
    }


    .Experiences{
        overflow: auto;
        position: absolute;
        left: 10%;
        top: calc(5% + 12.5vw);
        transform: translateY(-45%);
        vertical-align: middle;
        max-height: 90%;


        display: inline;
        opacity: 0;
        animation: fadeIn 1s forwards;
    }
    h2{
        color: #000;
        font-size: 3.6vw;
        font-family:'Coolvetica';
        font-weight: 400;
        text-align: center;
        margin-top: 0;
        margin-bottom: 40px;
    }

    .Job1{
        overflow: auto;
        position: absolute;
        left: 10%;
        top: calc(5% + 17.5vw);
        transform: translateY(-45%);
        vertical-align: middle;
        max-height: 90%;


        display: inline;
        opacity: 0;
        animation: fadeIn 1s forwards;
    }
    h3{
        color: #000;
        font-size: 2.6vw;
        font-family:'Coolvetica';
        font-weight: 400;
        text-align: center;
        margin-top: 0;
        margin-bottom: 40px;
    }
    .Job1Text{
        overflow: auto;
        position: absolute;
        display: flex;
        left: 10%;
        top: calc(5% + 17.5vw);
        transform: translateY(10%);
        vertical-align: middle;
        opacity: 0;
        animation: fadeIn 1s forwards;
    }
    .codesky-image{
        overflow: hidden;
        position: absolute;
    
        width: 15vw;
        max-width: 250px; /* Change this to your desired width */
        height: auto;
        margin-left: 20px;
        margin-right: 20px;

        top: calc(5% + 15vw);
        right: 5%;

        opacity: 0;
        animation: fadeIn 1s forwards;

        img {
            width: 100%;  /* Ensures the image fills the container's width */
            height: auto; /* Ensures the image fills the container's height */
            object-fit: cover; /* Optional: Maintains the image's aspect ratio while filling the container */
        }
    }
    .UTFRImage{
        overflow: hidden;
        position: absolute;
    
        width: 15vw;
        max-width: 250px; /* Change this to your desired width */
        height: auto;
        margin-left: 20px;
        margin-right: 20px;

        top: calc(5% + 33.5vw);
        right: 5%;

        opacity: 0;
        animation: fadeIn 1s forwards;

        img {
            width: 100%;  /* Ensures the image fills the container's width */
            height: auto; /* Ensures the image fills the container's height */
            object-fit: cover; /* Optional: Maintains the image's aspect ratio while filling the container */
        }

    }
    .Job2{
        overflow: auto;
        position: absolute;
        display: flex;
        left: 10%;
        top: calc(5% + 32.5vw);
        transform: translateY(10%);
        vertical-align: middle;
        opacity: 0;
        animation: fadeIn 1s forwards;

        display: inline;
        opacity: 0;
        animation: fadeIn 1s forwards;
    }

    .Job2Text{
        overflow: auto;
        position: absolute;
        display: flex;
        left: 10%;
        top: calc(5% + 35vw);
        transform: translateY(10%);

        vertical-align: middle;
        opacity: 0;
        animation: fadeIn 1s forwards;
    }

    .Job3{
        overflow: auto;
        position: absolute;
        left: 10%;
        top: calc(5% + 57.5vw);
        width: 45vw;
        transform: translateY(-45%);
        vertical-align: middle;
        max-height: 90%;
        display: inline;
        opacity: 0;
        animation: fadeIn 1s forwards;
    }
    .wellnessRoom-image{
        overflow: hidden;
        position: absolute;
    
        width: 25vw;
        max-width: 400px; /* Change this to your desired width */
        height: auto;
        margin-left: 20px;
        margin-right: 20px;

        top: calc(5% + 57.5vw);
        right: 5%;

        opacity: 0;
        animation: fadeIn 1s forwards;

        img {
            width: 100%;  /* Ensures the image fills the container's width */
            height: auto; /* Ensures the image fills the container's height */
            object-fit: cover; /* Optional: Maintains the image's aspect ratio while filling the container */
            border-radius: 5%;
        }
    }

    .Job3Text{
        overflow: auto;
        position: absolute;
        display: flex;
        left: 10%;
        top: calc(5% + 58.5vw);
        transform: translateY(10%);
        vertical-align: middle;
        opacity: 0;
        animation: fadeIn 1s forwards;
    }
    



}

